.section {
	background-image: url("/images/spectacle_enclos.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	width: 100vw;
	overflow-x: hidden;
	@media screen and (max-width: 568px) {
		background-image: url("/images/spectacle_enclos.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 40vh;
		width: 100vw;
	}
}

.h1 {
	font-family: var(--title-font);
	font-size: var(--size-title);
	letter-spacing: var(--letter-spacing);
	color: var(--main-color);
	display: block;
	text-align: center;
	margin-top: 0.5em;

	@media screen and (max-width: 568px) {
		font-size: 2em;
	}
}
