.main {
	background-color: var(--third-color);
	margin: var(--margin-between) 0 ;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	@media screen and (max-width: 568px) {
		height: fit-content;
	}
}

.section {
	display: flex;
	align-items: center;
	margin: auto;
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		gap: 4em;

	}
}

.article {
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	text-decoration: none;
	margin: var(--margin-section);
	transition: transform 0.3s ease-in-out;
	color: var(--main-color);
	@media screen and (max-width: 568px) {
		height: fit-content;
	}

}
.article:hover {
	transform: scale(1.05);
	color: var(--secondary-color);
}

.p {
	text-transform: uppercase;
	text-align: center;
	@media screen and (max-width: 568px) {
		width: 90vw;

	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		margin-bottom: 0;
		width: 50vw;
	}
}

.h2 {
	text-transform: uppercase;
	width: 25vw;
	text-align: center;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin-bottom: var(--margin-section);
		font-size: 1.2em;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		margin-top: 0;
		width: 35vw;
	}
	@media screen and (min-width: 1367px) {
		width: 20vw;
		margin: var(--margin-section) auto;
	}
}




.imageWrapper {
	position: relative;
	width: 30vw;
	height: 55vh;
	margin: var(--margin-section);

	@media screen and (max-width: 568px) {
		width: 90vw;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 40vw;
		height: 40vh;
	}
}

.image {
	object-fit: contain;
}


