.section {
	display: flex;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--secondary-color);
	transform: translateY(-100vh);
	align-items: center;
}
.isOpen {
	animation: slideIn 1s ease-out forwards;
}

.isClose {
	animation: slideOut 1s ease-out forwards;
}

.button {
	width: fit-content;
	height: fit-content;
	position: relative;
	bottom: 30vh;
	background-color: var(--secondary-color);
	border: none;
	font-size: 3em;
	color: var(--third-color);
	@media screen and (max-width: 568px) {
		bottom: 30vh;
		left: 5vw;
	}
}

.ul {
	display: flex;
	flex-direction: column;
	gap: 8vh;
}
.link {
	display: flex;
	flex-direction: column;
	gap: 8vh;
	font-size: 2em;
	font-weight: bold;
	color: black;
	text-decoration: none;
	background: linear-gradient(to top, black 0%, black 3px, transparent 2px)
		no-repeat;

	background-size: 0 100%;
	transition: background-size .3s;
	padding-bottom: 0.2em;
	text-transform: uppercase;
}

.link:hover {
	background-size: 100% 100%;
}

@keyframes slideIn {
	0% {
		transform: translateY(-100vh);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes slideOut {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100vh);
	}
}
