/*carrousel home page*/

.slide {
	position: relative;
	overflow: hidden;
	min-height: 85vh;
	width: 100vw;

	@media screen and (max-width: 568px) {
		min-height: 50vh;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		min-height: 40vh;
	}
}
.photoCarousel {
	object-fit: cover;
}

.button {
	width: fit-content;
	position: relative;
	bottom: 8em;
	border: none;
	background-color: transparent;
	color: var(--main-color);
	cursor: pointer;
	@media screen and (max-width: 568px) {
		display: none;
	}
}
.container {
	overflow-x: hidden;

}

/* carouselSpec */
.slideSpec {
	aspect-ratio: 3 / 4;
	overflow: hidden;
	margin: 0 0.5vw;
	padding: 0 1vw;
	position: relative;

}

.photoCarouselSpec {
	object-fit: cover;
	cursor: pointer;
}
.containerSpec {
	position: relative;

	width: 80vw;
	margin: auto;
}

.buttonSpec {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	background: none;
	border: none;
	cursor: pointer;
}

.buttonSpec:first-of-type {
	left: -5em;
	@media screen and (max-width: 568px) {
		opacity: 0;
	}
}

.buttonSpec:last-of-type {
	right: -5em;
	@media screen and (max-width: 568px) {
		opacity: 0;
	}
}
