.photoCarousel {
	width: 90vw;
	max-height: 90vh;
}

.button {
	font-size: 2em;
	width: fit-content;
	position: relative;
	bottom: 4em;
	border: none;
	background-color: transparent;
	color: var(--main-color);
}
