.section {
	display: flex;
	justify-content: center;
	gap: 5vw;
	margin: 20vh 0;
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.paragraph {
	width: 40vw;
	padding-right: 5vw;
	line-height: 1.8em;
	margin-top: 8vh;
	@media screen and (max-width: 568px) {
		width: 90vw;
		padding-right: 0vw;
	}
}

.h1 {
	font-size: 4em;
	font-family: var(--title-font);
	letter-spacing: var(--letter-spacing);
	color: var(--primary-color);
	text-transform: uppercase;
	line-height: 1.8em;
	@media screen and (max-width: 568px) {
		font-size: 2em;
		position: relative;
		right: 0;
		text-align: center;
	}
}
.span {
	display: block;
}

/* 
.image {
	width: 50vw;
	height: auto;

	@media screen and (max-width: 568px) {
		width: 90vw;
	}
}
.span {
	display: block;
	@media screen and (max-width: 568px) {
		display: inline;
	}
}
.h1 {
	font-size: 6em;
	font-family: var(--title-font);
	position: relative;
	right: 1.5em;
	color: var(--primary-color);
	line-height: 1.4em;
	letter-spacing: var(--letter-spacing);

	@media screen and (max-width: 568px) {
		font-size: 2em;
		position: relative;
		right: 0;
		text-align: center;
	}
}

.paragraph {
	width: 25vw;
	text-align: justify;
	margin-left: 4em;
	margin-top: 2em;
	margin-bottom: 4em;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin: 0;
	}
}

.link {
	border: solid 2px var(--secondary-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--secondary-color);
	padding: 0.3em 2em;
	border-radius: 10px;
	display: block;
	text-align: center;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin: 0;
	}
}

.div {
	width: 25vw;
	margin-left: 4em;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin-top: 1em;
		margin-left: 0;
	}
} */
