.article {
    width: 20vw;
    text-decoration: none;
    color: var(--third-color);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.article:hover {
    color: var(--secondary-color);
}

.p{
    font-weight: bolder;
}

.imageWrapper {
    width: 20vw;
    height: 40vh;
    position: relative;
    overflow: hidden;
}

.image {
    object-fit: cover;
    transition : transform 0.7s ease-in-out;
}

.image:hover {
    transform: scale(1.05);
}


.div {
    display: flex;
    align-items: center;
    gap: 0.4em;
    justify-content: flex-end;
}