.section {
	display: flex;

	margin: var(--margin-between) auto;
	width: 80vw;

	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: fit-content;
		width: 100vw;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		height: fit-content;
	}
	@media screen and (min-width: 1367px) {
		width: 80vw;
	}
}
.paragraph {
	width: 50vw;
	line-height: var(--line-height);
	padding-top: 10vh;
	height: fit-content;

	@media screen and (max-width: 568px) {
		padding-top: 0;
		width: 90vw;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		position: relative;
		top: 0;
	}
	@media screen and (min-width: 1367px) {
		width: 35vw;
	}
}

.h1 {
	font-size: var(--size-title);
	font-family: var(--title-font), serif;
	letter-spacing: var(--letter-spacing);
	color: var(--primary-color);
	text-transform: uppercase;
	line-height: var(--line-height);
	width: 45vw;
	@media screen and (max-width: 568px) {
		font-size: 2em;
		position: relative;
		right: 0;
		text-align: center;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		font-size: 3em;
		width: 40vw;
	}
	@media screen and (min-width: 1367px) {
		width: 40vw;
		height: fit-content;

	}
}

