.section {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	gap: 2vw;
	background: linear-gradient(to right, var(--main-color) 30%, var(--secondary-color) 30%);
	margin: var(--margin-between) auto;
	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: fit-content;
		margin: var(--margin-between) auto;
		background: linear-gradient(to right, var(--main-color) 0%, var(--secondary-color) 0%);
		padding: var(--margin-section) 0;
	}

}
.imageWrapper{
	position: relative;
	width: 40vw;
	height: 30vw;
	@media screen and (max-width: 1024px) {
		width: 90vw;
		height: 40vw;

	}
}
.image {
	object-fit: cover;


}

.h1 {
	font-size: 4em;
	font-family: var(--title-font), serif;

	position: relative;
	right: 1.5em;
	color: var(--main-color);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);

	@media screen and (max-width: 1024px) {
		font-size: 2em;
		position: relative;
		right: 0;
		text-align: center;
	}
}

.paragraph {
	width: 40vw;
	line-height: var(--line-height);
	@media screen and (max-width: 1024px) {
		width: 90vw;
		margin: 0;
	}
	@media screen and (min-width: 1367px) {
		width: 35vw;
		margin: 0;

	}
}

.link {
	border: solid 2px var(--secondary-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--secondary-color);
	padding: 0.3em 2em;
	border-radius: 10px;
	text-align: center;
	display: block;
	margin: var(--margin-between) 0;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin: 0;
	}
}

.div {
	width: 25vw;
	margin-left: 4em;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin-top: 1em;
		margin-left: 0;
	}
}
