.nav {
	display: flex;
	padding: 1em;
	align-items: center;
	margin-left: 1em;
	@media screen and (max-width: 568px) {
		margin-left: 0em;
	}
}
.logo {
	width: 10em;
	height: auto;
	@media screen and (max-width: 568px) {
		width: 5em;
	}
}
.image {
	width: fit-content;
	margin: auto;
}
.menu {
	@media screen and (max-width: 568px) {
		width: 2em;
	}
}
