.section {
	display: flex;
	flex-direction: row-reverse;
	height: 100vh;
	overflow-x: hidden;
	margin: var(--margin-between) 0;
	background: linear-gradient(to right, var(--primary-color) 70%, var(--main-color) 70%);
	align-items: center;
	gap: 2vw;
	@media screen and (max-width: 1024px) {
		flex-direction: column;
		align-items: center;
		background: linear-gradient(to right, var(--primary-color) 100%, var(--main-color) 100%);
		height: fit-content;
		padding: var(--margin-between) 0;

	}
	@media screen and (min-width: 1367px) {
		justify-content: flex-start;

		margin-right: 5vw;
	}
}

.imageWrapper{
	position: relative;
	width: 45vw;
	height: 50vh;
	right: 4vw;
	@media screen and (max-width: 1024px) {
		position: relative;
		width: 90vw;
		height: 30vh;
		right: 0;

	}
	@media screen and (min-width: 1367px) {
		width: 40vw;
		height: 60vh;
		right: 1vw;

	}
}
.image {
	object-fit: cover;
	@media screen and (max-width: 1024px) {
		object-fit: cover;
	}
}

.h1 {
	font-size: 4em;
	font-family: var(--title-font), serif;
	position: relative;
	color: var(--third-color);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	left: 4em;
	@media screen and (max-width: 1024px) {
		font-size: 2em;
		position: relative;
		left: 0;
		text-align: center;
	}
}

.paragraph {
	width: 40vw;
	line-height: var(--line-height);
	color: black;
	@media screen and (max-width: 1024px) {
		width: 90vw;
		margin: var(--margin-between) 0;

	}
	@media screen and (min-width: 1367px) {
		width: 35vw;


	}
}

.link {
	border: solid 2px var(--third-color);
	background-color: var(--third-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--main-color);
	padding: 0.3em 2em;
	border-radius: 10px;
	display: block;
	text-align: center;
	margin: var(--margin-between) 0;
	text-transform: uppercase;
	@media screen and (max-width: 1024px) {
		width: 90vw;

	}
}


