.section {
	display: flex;
	width: 90vw;
	overflow-x: hidden;
	margin: auto auto var(--margin-between);
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		width: 100vw;
		margin: auto;
		align-items: center;
	}
	@media screen and (min-width: 1367px) {
		width: 100vw;
		align-items: center;
		justify-content: center;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 90vw;
	}
}

.image {
	width: 40vw;
	height: auto;
	@media screen and (max-width: 568px) {
		width: 90vw;
	}
	@media screen and (min-width: 1367px) {
		width: 30vw;
	}
}

.h1 {
	font-size: var(--size-title);
	font-family: var(--title-font), serif;
	position: relative;
	right: var(--position);
	color: var(--primary-color);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	width: 20vw;
	@media screen and (max-width: 568px) {
		font-size: var(--size-title-responsive);
		position: initial;
		text-align: center;
		width: 90vw;
		margin: auto;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		font-size: var(--size-title-responsive);
	}
}

.paragraph {
	margin: var(--margin-section);
	line-height: var(--line-height);
	@media screen and (min-width: 1367px) {
		width: 30vw;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 45vw;
	}
}

.link {
	border: solid 2px var(--secondary-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--secondary-color);
	padding: var(--padding-button);
	border-radius: var(--border-radius);
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin: var(--margin-section);
	@media screen and (max-width: 568px) {
		width: 90vw;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 45vw;
	}
}
