@font-face {
	font-family: "edo";
	src: url("/fonts/edo.ttf");
}
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
h1,
h2 {
	font-weight: 400;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root {
	--primary-color: #d3a1a0;
	--secondary-color: #7097ec;
	--third-color: #000100;
	--main-color: #ffffff;
	--title-font: "edo";
	--letter-spacing: 0.1em;
	--size-title: 5em;
	--position: 1.2em;
	--margin-section: 2em;
	--line-height: 1.6em;
	--padding-button: 0.3em 2em;
	--border-radius: 10px;
	--size-title-responsive: 1.8em;
}
