
.section {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;

	margin: var(--margin-between) 0;
	justify-content: flex-end;
	background: linear-gradient(
			to right,
			var(--main-color)30%,
			var(--secondary-color) 30%
	);
	@media screen and (max-width: 568px) {
		background: linear-gradient(
				to right,
				var(--main-color)0%,
				var(--secondary-color) 0%
		);
		flex-direction: column;
		align-items: flex-start;
		width: 100vw;
		height: fit-content;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		background: linear-gradient(
				to right,
				var(--main-color)0%,
				var(--secondary-color) 0%
		);
		flex-direction: column;
		align-items: flex-start;

		width: 100vw;
		height: fit-content;
	}
}
.image{
	width: 40vw;
	height: auto;
	@media screen and (max-width: 568px) {
				width: 90vw;
				margin: var(--margin-between) ;
			}
			@media screen and (min-width: 768px) and (max-width: 1024px) {
				width: 60vw;
			transform: translateX(20vw);
				margin-top: var(--margin-between) ;
			}
}

.article {
	width : 32vw;
	margin-right: 20vw;
	@media screen and (max-width: 568px) {
		width : 90vw;
		margin-right: 0;

	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width : 90vw;
		margin: 0 var(--margin-section) ;


	}
}
.paragraph {
	width: 30vw;
	margin: 0 var(--margin-section) ;
	color: black;
	margin-right: 10vw;
	line-height: var(--line-height);
	@media screen and (max-width: 568px) {
		width : 90vw;
		margin-right: 0;

	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width : 90vw;

		margin: 0
	}
}

.h1{
	font-size: var(--size-title);
	font-family: var(--title-font), serif;
	color: var(--third-color);
	position: relative;
	right: var(--position);
	line-height: var(--line-height);

	@media screen and (max-width: 568px) {
		font-size: var(--size-title-responsive);
		position: relative;
		right: 0;

		width: 90vw;
		text-align: center;
		margin: 0 var(--margin-section) ;
	}

		@media screen and (min-width: 768px) and (max-width: 1024px) {
			font-size: var(--size-title-responsive);
			position: relative;
			right: 0;
			text-align: center;
		}
}


.link {
	border: solid 2px var(--third-color);
	background-color: var(--third-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--main-color);
	padding: var(--padding-button);
	border-radius: var(--border-radius);
	display: block;
	text-align: center;
	margin: 0 var(--margin-section) ;
	text-transform: uppercase;

		@media screen and (max-width: 568px) {
			width: 90vw;
			margin: var(--margin-between) ;

	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		margin: var(--margin-between) 0;
		width: 90vw;

	}
}

