.main {
	background-color: var(--secondary-color);

	margin-bottom: 20vh;
}

.section {
	display: flex;
	padding: 10vh 0;
	width: fit-content;
	margin: auto;
	gap: 20em;

	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;

		gap: 5em;
	}
}

.article {
	text-align: center;
	width: 20vw;
	color: var(--main-color);
	text-decoration: none;
}

.article:hover {
	transform: scale(1.1);
	color: var(--warm-color);
}

.imageWrapper {
	position: relative;
	width: 20vw;
	height: 55vh;
	@media screen and (max-width: 568px) {
		width: 90vw;
	}
}
.image {
	object-fit: contain;
}
.p {
	font-size: 1.2em;
	margin-bottom: 3vh;
	text-align: center;
	width: 20vw;
	@media screen and (max-width: 568px) {
		width: 90vw;
	}
}

.h2 {
	margin-top: 2vh;
	width: 20vw;
	@media screen and (max-width: 568px) {
		width: 90vw;
	}
}
