.main {
	background-color: var(--third-color);
	margin-bottom: var(--margin-section);
}

.section {
	display: flex;
	padding: var(--margin-section);
	width: fit-content;
	margin: auto;
	gap: 10em;
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		gap: 2em;
		padding: 0;
		padding-top: var(--margin-section);
	}
}

.article {
	text-align: center;
	color: var(--main-color);
	text-decoration: none;
}

.article:hover {
	color: var(--secondary-color);
}

.imageWrapper {
	position: relative;
	width: 30vw;
	height: 55vh;
	@media screen and (max-width: 568px) {
		width: 90vw;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		height: 40vh;
	}
}
.image {
	object-fit: contain;
	transition: transform 0.3s ease-in-out;
}

.image:hover {
	transform: scale(1.05);
}

.p {
	text-transform: uppercase;
	margin-bottom: var(--margin-section);
	text-align: center;
	width: 30vw;
	@media screen and (max-width: 568px) {
		width: 90vw;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		margin-bottom: 0;
	}
}

.h2 {
	margin-top: var(--margin-section);
	width: 30vw;
	text-transform: uppercase;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin-bottom: var(--margin-section);
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		margin-top: 0;
	}
	@media screen and (min-width: 1367px) {
		width: 20vw;
		margin: var(--margin-section) auto;
	}
}
