.section {
	margin-bottom: 5vh;
}

.sectionHead {
	background-color: var(--third-color);
	height: 90vh;
	display: flex;

}

.articleInfo{
	display: flex;
	align-items: center;
	width: 80vw;
	margin : auto;
	color: var(--main-color);
	gap: 3em;


}

.divHead{
	height: 80vh;
}

.imageWrapper {
	width: 35vw;
	height: 80vh;
	position: relative;

}

.imagePres {
	object-fit: cover;
}

.subArticle{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-bottom : solid 1px var(--main-color);
	padding-bottom: 5vh;
	gap: 2em;


}

.subArticle div {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

}

.h2{
	color: var(--third-color);
	font-weight: bold;
	background-color: var(--primary-color);
	width: fit-content;
	padding : var(--padding-button);
	border-radius: var(--border-radius);
	margin-bottom: 0.5em;

}

.h2Title {
	font-family: var(--title-font), sans-serif;
	font-size: 3em;
	margin-bottom: 5vh;
}

.h3{
	color : var(--secondary-color);

}

.h3Extract{
	color : var(--secondary-color);
	font-style: italic;
}


.sectionPres{
	width: 90vw;
	margin : 5vh auto;
	display: flex;
	justify-content: center;

}

.resume {
	display: flex;
	gap: 1em;
}

.divResume {
	width: 40vw;
	border : 2px solid var(--third-color);
	padding : 1em;
	margin-bottom : 5vh;
	line-height: var(--line-height);
	min-height: 35vh;
}

.divResume:last-child {
	position : relative;
	top: 5vh;
	background-color: var(--third-color);
	color : var(--main-color);
}

.h2Pres {
	font-family: var(--title-font), sans-serif;
	font-size: 3em;
	line-height: var(--line-height);
}

.organisation {
	width: 90vw;
	margin : 5vh auto;
	border : 2px solid var(--third-color);
	padding : 1em;
	background-color: var(--third-color);
	color: var(--primary-color);
	line-height: var(--line-height);
}

.articleOrga {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;

}

.h3Orga{
	color: var(--secondary-color);
}

.divDistrib {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

}

.sectionInter {
	margin : 5vh auto;
}

.h2Inter {

	margin-bottom: 2vh;
}

.articleInter {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	padding-bottom: 5vh;
	border-bottom : 1px solid var(--main-color);
}

.articleInter article {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}