.section {
	display: flex;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: var(--third-color);
	flex-direction: row-reverse;
	align-items: center;


	@media screen and (max-width: 1024px) {
		flex-direction: column;
		width: 100vw;
		height: fit-content;
		gap: 0;
		padding: var(--margin-between);
	}
	@media screen and (min-width: 1367px) {
		padding-right: 3vw;
		gap: 2vw;
	}
}

.imageWrapper{
	position: relative;
	width: 45vw;
	height: 50vh;
	right: 4vw;
	@media screen and (max-width: 1024px) {
		position: relative;
		width: 90vw;
		height: 50vh;
		right: 0;
	}
	@media screen and (min-width: 1367px) {
		right: 0;

	}
}
.image {
	object-fit: cover;
	@media screen and (max-width: 1024px) {
		object-fit: cover;
	}
}

.h1 {
	font-family: var(--title-font), serif;
	font-size: 4em;
	color: var(--secondary-color);
	letter-spacing: var(--letter-spacing);
	position: relative;
	left: 1em;
	@media screen and (max-width: 1024px) {
		font-size: 2em;
		position: relative;
		text-align: center;
		left: 0;
		margin-top: 0.5em;
		width: 100vw;
	}
	@media screen and (min-width: 1367px) {
		position: relative;
		left: 14vw;

	}
}

.paragraph {

	margin: var(--margin-between) 0;
	width: 40vw;
	line-height: var(--line-height);
	color: var(--main-color);

	@media screen and (max-width: 1024px) {
		width: 90vw;
		margin: var(--margin-between) ;
	}
	@media screen and (min-width: 1367px) {
		width: 35vw;

	}
}

.link {
	border: solid 2px var(--secondary-color);
	background-color: var(--secondary-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--main-color);
	padding: 0.3em 2em;
	border-radius: 10px;
	display: block;
	text-align: center;
	margin: var(--margin-between) 0;
	@media screen and (max-width: 1024px) {
		width: 90vw;
		margin: var(--margin-between) 0;
	}
}

