.section {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: var(--third-color);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 3vw;

	@media screen and (max-width: 1024px) {
		width: 100vw;
		height: fit-content;
		padding-bottom: var(--margin-section);
		display: flex;
		flex-direction: column;

	}
}


.image {
	width: 50vw;
	height: auto;

	@media screen and (max-width: 568px) {
		width: 90vw;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 90vw;
	}
}

.h1 {
	font-size: var(--size-title);
	font-family: var(--title-font), serif;
	color: var(--secondary-color);
	position: relative;
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	transform: translateX(50%);

	@media screen and (max-width: 568px) {
		font-size: var(--size-title-responsive);
		transform: translateX(0);
		margin: 0.5em;
		text-align: center;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		font-size: var(--size-title-responsive);
		transform: translateX(0);

		text-align: center;
	}
}
.article {
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 90vw;
	}
}
.paragraph {
	margin: var(--margin-between) 0;
	color: var(--main-color);
	line-height: var(--line-height);
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin-bottom: 1em;
	}
	@media screen and (min-width: 1367px) {
		width: 30vw;
	}
}

.link {
	border: solid 2px var(--secondary-color);
	background-color: var(--secondary-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--main-color);
	border-radius: var(--border-radius);
	display: block;
	text-align: center;
	padding: var(--padding-button);
	text-transform: uppercase;

	@media screen and (max-width: 1024px) {
		width: 90vw;
		margin-bottom: 5vh;
	}
}
