.section {
	display: flex;
	width: fit-content;
	margin: auto;
	gap: 10vw;
	justify-content: center;
	align-items: center;
}

.text {
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 1em;
	@media screen and (max-width: 568px) {
		font-size: 0.8em;
	}
}
.image {
	width: 3em;
	height: auto;
}
.button {
	background-color: var(--main-color);
	text-decoration: none;
	color: black;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5vh 0;
}
.isActive {
	background-color: var(--nuance-blue);
}
.article {
	height: 25vh;
	width: 15vw;
	margin: 0.2em 0;
	border-radius: 10px;
	@media screen and (max-width: 568px) {
		height: 25vh;
		width: 35vw;
	}
}
