.sectionInfo {
	display: flex;
	align-items: center;
	width: 95vw;
	margin: var(--margin-section) 0;

	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		margin: auto;
	}
}
.articleInfo {
	border: solid 3px var(--third-color);
	padding: 6vw;

	width: 80vw;
	height: 100vh;
	background-color: var(--main-color);
	@media screen and (max-width: 1024px) {
		height: fit-content;
		width: 100vw;
	}
}

.imagePres {
	height: auto;
	width: 45vw;

	@media screen and (max-width: 1024px) {
		width: 85vw;
		height: auto;
		position: relative;
		left: 0vw;
		bottom: 0vh;
		padding-top: 5vh;
	}
	@media screen and (min-width: 1367px) {
		width: 40vw;
		height: auto;
		bottom: 32vh;
	}
}
.article {
	display: flex;
	align-items: center;
	width: 85vw;
	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 90vw;
	}
}
.h2 {
	font-family: var(--title-font);
	font-size: var(--size-title);
	letter-spacing: var(--letter-spacing);
	color: var(--third-color);
	line-height: var(--line-height);
	@media screen and (max-width: 568px) {
		font-size: 1.5em;
		margin-bottom: 2vh;
	}
}
.h3title {
	letter-spacing: var(--letter-spacing);
	color: var(--third-color);
	margin-bottom: 2vh;
	line-height: var(--line-height);
	@media screen and (max-width: 568px) {
		font-size: 1em;
		width: 90vw;
	}
}
.h3 {
	color: var(--third-color);
	font-size: 1.5em;
	text-transform: uppercase;
	@media screen and (max-width: 568px) {
		font-size: 1em;
	}
}
.pPres {
	width: 40vw;
	color: var(--third-color);
	margin-top: 5vh;
	line-height: 1.6em;
	@media screen and (max-width: 568px) {
		width: 80vw;
	}
}
.div {
	line-height: 3em;

	width: 90vw;

	@media screen and (max-width: 568px) {
		line-height: 1.5em;
		margin-left: 0vw;
	}
	@media screen and (min-width: 1367px) {
		width: 40vw;
	}
}

.sectionPres {
	display: flex;
	align-items: center;
	margin: var(--margin-section) 0;
	justify-content: flex-end;

	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
	}
}

.imageSpec {
	width: 40vw;
	height: auto;
	position: relative;
	z-index: 2;
	left: 10vw;

	@media screen and (max-width: 1024px) {
		width: 90vw;
		height: auto;
		left: 0vw;
	}
	@media screen and (min-width: 1367px) {
		width: 30vw;
		height: auto;
	}
}
.resume {
	border-color: var(--secondary-color);
	padding: 4vw 12vw;
	height: fit-content;
	width: 80vw;

	background-color: var(--secondary-color);

	@media screen and (max-width: 1024px) {
		height: fit-content;
		width: 90vw;
		padding: 2vw 2vw;
	}
}
.h2Pres {
	font-family: var(--title-font);
	font-size: var(--size-title);
	letter-spacing: var(--letter-spacing);
	color: var(--third-color);
	position: relative;
	right: 8vw;
	margin: 2vh 0;
	line-height: var(--line-height);
	z-index: 4;
	@media screen and (max-width: 1024px) {
		font-size: 1.5em;
		right: 0vw;
	}
}
.divResume {
	width: 40vw;
	line-height: var(--line-height);
	@media screen and (max-width: 1024px) {
		width: 80vw;
	}
	@media screen and (min-width: 1367px) {
		width: 30vw;
	}
}

.organisation {
	width: 100vw;
	background-color: var(--main-color);
	padding: 2em;
	height: fit-content;
	border-top: solid 3px var(--third-color);
	border-bottom: solid 3px var(--third-color);
	margin: var(--margin-section) 0;
	@media screen and (max-width: 568px) {
		width: 100vw;
		height: auto;
	}
}
.h2Orga {
	font-family: var(--title-font);
	font-size: var(--size-title);
	text-align: center;
	letter-spacing: var(--letter-spacing);
	color: var(--third-color);
	margin-bottom: 5vh;
	@media screen and (max-width: 568px) {
		font-size: 1.5em;
		margin-bottom: 2vh;
	}
}
.articleOrga {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4vw;
	color: var(--third-color);
	line-height: var(--line-height);
	margin: 5vh 3vw;

	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		width: 85vw;
		height: auto;
		margin: auto;
	}
}

.h3Deroul {
	letter-spacing: var(--letter-spacing);
	color: var(--third-color);
	margin-bottom: 2vh;
	font-size: 1.8em;
	@media screen and (max-width: 568px) {
		font-size: 1.1em;
	}
}

.h3Orga {
	color: var(--third-color);
	font-size: 1.2em;
	margin-bottom: 1vh;
}

.sectionExtract {
	display: flex;
	align-items: center;

	justify-content: flex-end;
	height: fit-content;

	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
}

.imageExtract {
	width: 40vw;
	height: auto;
	margin-left: 4vw;
	@media screen and (max-width: 568px) {
		width: 90vw;
		height: auto;
		margin-left: 0vw;
	}
}

.extract {
	padding: 8vw 1vw;
	height: 90vh;
	width: 85vw;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media screen and (max-width: 568px) {
		height: fit-content;
		width: 90vw;
		padding: 2vw 2vw;
	}
}
.h2Extract {
	font-size: 2em;

	letter-spacing: var(--letter-spacing);
	color: var(--main-color);
	margin: 2vh 3vw;
	@media screen and (max-width: 568px) {
		font-size: 1.5em;
	}
}

.divExtract {
	display: flex;
	flex-direction: column;
	line-height: var(--line-height);
	margin: 2vh 3vw;
	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
	}
}
.divThanks {
	display: flex;
	height: 60vh;

	margin: var(--margin-section) 0;
	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		height: fit-content;
	}
}
.sectionThanks {
	width: 50vw;
	background-color: var(--secondary-color);
	@media screen and (max-width: 1024px) {
		width: 100vw;
	}
}

.articleThanks {
	display: flex;
	flex-direction: column;
	margin: 5vh auto;
	width: 45vw;
	line-height: var(--line-height);
	@media screen and (max-width: 1024px) {
		width: 100vw;
		width: 90vw;
		margin: var(--margin-section) auto;
	}
}
.h2Thanks {
	font-family: var(--title-font);
	font-size: 4em;
	text-align: center;
	margin: 0.1em 0;
	@media screen and (max-width: 1024px) {
		font-size: 2.0em;
	}
}
.sectionInter {
	width: 50vw;
	background-color: var(--main-color);
	@media screen and (max-width: 1024px) {
		width: 100vw;
	}
}

.articleInter {
	display: flex;
	flex-direction: column;
	margin: 5vh auto;
	width: 45vw;
	line-height: var(--line-height);
	@media screen and (max-width: 1024px) {
		width: 90vw;
		margin: var(--margin-section) auto;
	}
}
.h2Inter {
	font-family: var(--title-font);
	font-size: 4em;
	text-align: center;
	margin: 0.1em 0;
	@media screen and (max-width: 1024px) {
		font-size: 2.0em;
	}
}

.carousel {
	margin: var(--margin-section);
}
