.sectionInfo {
	display: flex;
	align-items: center;
	margin-bottom: 5vh;
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
}
.articleInfo {
	border: solid 1px;
	border-color: var(--primary-color);
	padding: 2vw;
	height: 90vh;
	width: 80vw;
	background-color: var(--primary-color);
	@media screen and (max-width: 568px) {
		height: fit-content;
		width: 90vw;
	}
}
.imageInfo {
	position: relative;
	right: 10vw;
	width: fit-content;
	@media screen and (max-width: 568px) {
		position: relative;
		right: 0vw;
	}
}
.imagePres {
	width: 45vw;
	height: auto;
	@media screen and (max-width: 568px) {
		width: 90vw;
		height: auto;
	}
}

.h2 {
	font-family: var(--title-font);
	font-size: 4em;
	letter-spacing: var(--letter-spacing);
	color: var(--main-color);
	margin-bottom: 5vh;
	@media screen and (max-width: 568px) {
		font-size: 1.5em;
		margin-bottom: 2vh;
	}
}
.h3title {
	font-family: var(--title-font);
	letter-spacing: var(--letter-spacing);
	color: var(--main-color);
	margin-bottom: 2vh;
	width: 45vw;
	@media screen and (max-width: 568px) {
		font-size: 1em;
		width: 90vw;
	}
}
.h3 {
	color: var(--main-color);
	font-size: 1.5em;
	text-transform: uppercase;
	@media screen and (max-width: 568px) {
		font-size: 1em;
	}
}
.pPres {
	width: 40vw;
	color: var(--main-color);
	margin-top: 5vh;
	line-height: 1.6em;
	@media screen and (max-width: 568px) {
		width: 80vw;
	}
}
.div {
	margin-left: 2vw;
	line-height: 3em;
	@media screen and (max-width: 568px) {
		line-height: 1.5em;
		margin-left: 0vw;
	}
}

.organisation {
	width: 100vw;
	background-color: var(--secondary-color);
	padding: 2em;
	height: fit-content;
	@media screen and (max-width: 568px) {
		width: 100vw;
		height: auto;
	}
}

.articleOrga {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2vw;
	color: var(--main-color);
	line-height: 1.5em;
	margin: 5vh 3vw;

	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		width: 85vw;
		height: auto;
		margin: auto;
	}
}

.h3Deroul {
	letter-spacing: var(--letter-spacing);
	color: var(--nuance-orange2);
	margin-bottom: 2vh;
	font-size: 1.8em;
	@media screen and (max-width: 568px) {
		font-size: 1.1em;
	}
}

.h3Orga {
	color: var(--nuance-orange2);
	font-size: 1.2em;
	margin-bottom: 1vh;
}

.sectionExtract {
	display: flex;
	align-items: center;
	margin-top: 10vh;
	justify-content: flex-end;
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
}

.imageExtract {
	width: 30vw;
	height: auto;
	margin-left: 4vw;
	@media screen and (max-width: 568px) {
		width: 90vw;
		height: auto;
		margin-left: 0vw;
	}
}

.extract {
	border: solid 1px;
	border-color: var(--nuance-blue);
	padding: 4vw 1vw;
	height: 60vh;
	width: 50vw;
	background-color: var(--nuance-blue);
	@media screen and (max-width: 568px) {
		height: fit-content;
		width: 90vw;
		padding: 2vw 2vw;
	}
}
.h2Extract {
	font-size: 1.5em;
	letter-spacing: var(--letter-spacing);
	color: var(--main-color);
	margin: 2vh 3vw;
	@media screen and (max-width: 568px) {
		font-size: 1.5em;
	}
}

.divExtract {
	width: 35vw;
	font-size: 0.9em;
	padding: 2vh 5vw;
	line-height: 1.8em;
	@media screen and (max-width: 568px) {
		width: 80vw;
	}
}

.divThanks {
	display: flex;
	margin: 5vh 0;
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		overflow-x: hidden;
	}
}

.sectionThanks {
	background-color: var(--primary-color);
	height: 60vh;
	width: 30vw;
	padding-left: 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media screen and (max-width: 568px) {
		width: 100vw;
		padding-left: 5vw;
	}
}

.h2Thanks {
	font-family: var(--title-font);
	font-size: 4em;
	letter-spacing: var(--letter-spacing);
	color: var(--main-color);
	margin-top: -7vh;
	text-align: left;

	margin-bottom: 5vh;
	@media screen and (max-width: 568px) {
		font-size: 1.5em;
		margin-top: 0;
	}
}

.pThanks {
	color: var(--main-color);
	font-size: 1.4em;
	margin-bottom: 1em;
}

.sectionInter {
	background-color: var(--main-color);
	padding-left: 2vw;
	display: flex;

	flex-direction: column;
	justify-content: center;
}

.articleInter {
	width: 65vw;
	line-height: 1.5em;
	@media screen and (max-width: 568px) {
		width: 100vw;
	}
}

.pInter {
	display: flex;
	align-items: center;
	gap: 1em;
}

.h2Inter {
	font-family: var(--title-font);
	font-size: 4em;
	letter-spacing: var(--letter-spacing);
	color: var(--primary-color);
	margin-bottom: 5vh;

	text-align: left;
	@media screen and (max-width: 568px) {
		font-size: 2.0em;
		margin-top: 5vh;
		padding-left: 5vw;
	}
}









.sectionDate {
	background-color: var(--nuance-blue);
	padding: 5vw;
	margin-top: 5vh;
	height: 70vh;
	margin-bottom: 5vh;
	@media screen and (max-width: 568px) {
		height: fit-content;
	}
}

.articles {
	display: flex;
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		gap: 3em;
	}
}

.articleDate {
	width: 70vw;
	@media screen and (max-width: 568px) {
		height: fit-content;
	}
}

.articleDatePassed {
	border-left: 1px solid;
	padding-left: 5vw;
	border-color: var(--primary-color);
}

.h2Date {
	font-family: var(--title-font);
	font-size: 4em;
	letter-spacing: var(--letter-spacing);
	color: var(--secondary-color);
	margin-bottom: 5vh;
	margin-top: -10vh;
	text-align: center;
	@media screen and (max-width: 568px) {
		margin-top: 0vh;
		font-size: 3em;
	}
}

.h3Date {
	font-family: var(--title-font);
	font-size: 2em;
	letter-spacing: var(--letter-spacing);
	color: var(--secondary-color);
	text-align: center;
}
.divDate {
	display: flex;
	justify-content: space-around;
	margin-top: 5vh;
	height: 40vh;
	@media screen and (max-width: 568px) {
		display: flex;
		flex-direction: column;
		height: fit-content;
		gap: 5vh;
	}
}
.h4Date {
	color: var(--secondary-color);
	font-size: 1.4em;
	text-align: left;
	padding-bottom: 1em;
	border-bottom: solid 1px;
	border-color: var(--secondary-color);
}

.pDate1 {
	color: var(--secondary-color);
	font-size: 1.4em;
	text-align: left;
	padding-bottom: 1em;
	border-bottom: solid 1px;
	border-color: var(--secondary-color);
	font-weight: bold;
}
.pDate2 {
	color: var(--secondary-color);
	font-size: 1.4em;
	text-align: left;
}

.divDatePass {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5vh;
	color: var(--secondary-color);
}

.articleCarousel {
	margin: 5vh 2vw;
} */
