.section {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    min-height: 100vh;
    background: var(--primary-color);
    margin: auto;


}
.h2 {
    font-family: var(--title-font), serif;
    font-size: 3em;
    letter-spacing: var(--letter-spacing);
    margin: var(--margin-between);
}

.sectionImm{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    min-height: 100vh;
    margin : auto;
    background: var(--primary-color);
}