.section {
	background-image: url("/images/mediation_bg.jpg");
	width: 100vw;
	height: 40vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (max-width: 568px) {
		background-image: url("/images/spectacle_enclos.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 40vh;
		width: 100vw;
	}
}

.h1 {
	font-family: var(--title-font);
	font-size: 6.5em;
	letter-spacing: var(--letter-spacing);
	color: var(--main-color);
	display: block;
	text-align: center;
	position: relative;
	top: 50vh;
	left: 10vw;
	@media screen and (max-width: 568px) {
		font-size: 3em;
		position: relative;
		top: 25vh;
	}
}
