.fieldset {
	padding: 1em;
	display: flex;
	gap: 5vw;
	border: 1px var(--primary-color) solid;
	border-radius: 10px;
	margin-bottom: 2em;
	@media screen and (max-width: 568px) {
		flex-direction: column;
	}
}

.legend {
	border: 1px var(--primary-color) solid;
	padding: 0.5em;
	border-radius: 10px;
}

.button {
	background-color: var(--warm-color);
	font-size: 1.5em;
	border-radius: 10px;
	padding: 0.5em;
	color: var(--main-color);
	border-color: var(--warm-color);
}
