.sectionLog {
	width: 100vw;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form {
	width: 60vw;
	margin: auto;
	background: linear-gradient(
		to right,
		var(--secondary-color) 50%,
		var(--third-color) 50%
	);

	padding: 10vh 0;
	@media screen and (max-width: 1024px) {
		width: 100vw;
		background: linear-gradient(
			to right,
			var(--secondary-color) 100%,
			var(--secondary-color) 100%
		);
	}
}
.fieldset {
	width: 50%;
	border: none;
	@media screen and (max-width: 1024px) {
		width: 100%;
	}
}
.div {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: var(--margin-section);
}

.h2 {
	font-family: var(--title-font);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	font-size: 2.5em;
	margin-bottom: 4vh;
}

.label {
	margin: 2vh 0;
}
.input {
	height: 5vh;
	width: 100%;

	font-family: var(--paragraph-font);
	letter-spacing: var(--letter-spacing);
	padding-left: 1vw;
	border: none;
}
.button {
	text-decoration: none;
	border: 2px solid var(--third-color);
	color: var(--third-color);
	padding: 0.2em 0;
	border-radius: 20px;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	margin: var(--margin-between) 0;
	cursor: pointer;
	@media screen and (max-width: 568px) {
		width: 80vw;
		margin: var(--margin-between) 0;
	}
	@media screen and (min-width: 569px) and (max-width: 1024px) {
		width: 20vw;
		margin: var(--margin-between) 0;
	}
}
