.divContact {
	display: flex;
	margin: var(--margin-section);
	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
	}
	@media screen and (min-width: 1367px) {
		width: 80vw;
		margin: var(--margin-section) auto;
	}
}
.h2 {
	font-family: var(--title-font);
	font-size: var(--size-title);
	letter-spacing: var(--letter-spacing);
	color: var(--primary-color);
	@media screen and (max-width: 1024px) {
		font-size: 3em;
	}
}

.articleInfo {
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin: 4em 0;
	text-transform: uppercase;
	font-weight: bold;
}
.span {
	display: block;
}
.sectionInfo {
	width: 40vw;
	@media screen and (max-width: 1024px) {
		width: 100vw;
	}
}
.sectionForm {
	width: 60vw;
	@media screen and (max-width: 1024px) {
		width: 100vw;
	}
}
.form {
	width: 90%;
	@media screen and (max-width: 1024px) {
		width: 80%;
	}
}
.fieldset {
	display: flex;
	flex-direction: column;
	padding: 1em;
	border: none;
	@media screen and (max-width: 1024px) {
		padding: 0;
	}
}
.h3 {
	padding: 1vh 1vw;
	font-weight: bold;
	margin-bottom: 2vh;
	text-transform: uppercase;
}
.label {
	padding: 4vh 0;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing);
}
.input {
	border: none;
	border-bottom: 2px solid var(--third-color);
	font-family: var(--font-paragraph);
	font-size: 1em;
	padding: 0;
}

.textarea {
	border: none;
	border-bottom: 2px solid var(--third-color);
	font-family: var(--font-paragraph);
	font-size: 1em;
}
.labelArea {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing);
	padding-bottom: 4vh;
	@media screen and (max-width: 1024px) {
		padding: 4vh 0;
	}
}
.option {
	border: none;
	border-bottom: 2px solid var(--third-color);
	font-family: var(--font-paragraph);
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing);
	font-weight: bold;
	font-size: 1em;
	padding-bottom: 6vh;
	@media screen and (max-width: 1024px) {
		padding: 4vh 0;
		padding-bottom: 6vh;
	}
}
.option:focus {
	outline: none;
	box-shadow: none;
}
.textarea:focus {
	outline: none;
	box-shadow: none;
}

.button {
	text-decoration: none;
	border: 2px solid var(--secondary-color);
	color: var(--secondary-color);
	padding: 0.2em 0;
	border-radius: 20px;
	width: 12vw;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	margin: var(--margin-between) 0;
	cursor : pointer;
	@media screen and (max-width: 568px) {
		width: 80vw;
		margin: var(--margin-section) 0vh;
	}
	@media screen and (min-width: 569px) and (max-width: 1024px) {
		width: 20vw;
		margin: var(--margin-section) 0;
	}
}

.errors {
	color : red;
	font-size: 1em;
}