.section {
	display: flex;
	align-items: center;
	height: 100vh;
	overflow-x: hidden;
	width: fit-content;
	margin: var(--margin-section) 0;
	@media screen and (max-width: 568px) {
		flex-direction: column;
		align-items: center;
		width: 100vw;
		height: fit-content;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		flex-direction: column;
		align-items: center;
		width: 100vw;
		height: fit-content;
	}
}

.image {
	width: 50vw;
	height: auto;
	position: relative;
	z-index: 4;
	margin-left: 2em;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin-left: 0;
		margin-bottom: 5vh;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 90vw;
		margin-left: 0;
		margin-bottom: 0vh;
	}
	@media screen and (min-width: 1367px) {
		width: 40vw;
		left: 12em;
	}
}

.h1 {
	font-size: var(--size-title);
	font-family: var(--title-font);
	position: relative;
	right: var(--position);

	color: var(--third-color);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	z-index: 6;

	@media screen and (max-width: 568px) {
		font-size: 2em;
		position: relative;
		right: 0;
		text-align: center;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		font-size: var(--size-title);
		position: relative;
		right: 0;
		text-align: center;
	}
}
.article {
	position: relative;
	right: 10vw;
	padding-top: 3.4em;
	border: solid 1px var(--primary-color);
	width: 60vw;
	height: 100vh;
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 568px) {
		width: 100vw;
		position: relative;
		right: 0vw;
		justify-content: left;
		align-items: center;
		height: fit-content;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 100vw;
		position: relative;
		right: 0vw;
		justify-content: left;
		align-items: center;
		height: fit-content;
	}
	@media screen and (min-width: 1367px) {
		position: relative;
		right: 0vw;
	}
}
.paragraph {
	margin: var(--margin-section);
	color: black;
	width: 40vw;
	position: relative;
	line-height: var(--line-height);
	left: 10vw;
	@media screen and (max-width: 568px) {
		width: 90vw;
		position: initial;
		margin: 0;
	}
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		width: 90vw;
		position: initial;
		margin: 0;
	}
	@media screen and (min-width: 1367px) {
		width: 30vw;
	}
}

.link {
	border: solid 2px var(--third-color);
	background-color: var(--third-color);
	text-decoration: none;
	font-weight: bold;
	color: var(--main-color);
	padding: var(--padding-button);
	border-radius: var(--border-radius);
	display: block;
	text-align: center;
	margin: var(--margin-section) 0;
	text-transform: uppercase;
	@media screen and (max-width: 568px) {
		width: 90vw;
		margin: 1em 0;
	}
}
